

<section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">Ben Ne Yaptım ?</p>
        <h6 class="section-title mb-6">Portföy</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img src="~/Templates/meyawo-1.0.0/download/mobil-uygulama.jpg" class="portfolio-card-img class="img-responsive rounded"
                         alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>
                                Mobile Developer</h5>
                                <p class="font-weight-normal">Category:Mobile Templates</p>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img src="~/Templates/meyawo-1.0.0/download/gis_jeo_1.png" class="portfolio-card-img" class="img-responsive rounded"
                         alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>
                                Database Design</h5>
                                <p class="font-weight-normal">Category:Database Templates</p>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img class="portfolio-card-img" src="~/Templates/meyawo-1.0.0/download/js resim.png" class="img-responsive rounded"
                         alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>
                                Javascript Design</h5>
                                <p class="font-weight-normal">Category: Javascript Templates</p>
                        </span>
                    </span>
                </a>
            </div>
        </div><!-- end of row -->
    </div><!-- end of container -->
</section>
