
@{
    ViewBag.Title = "CreateFuture";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Öne Çıkan Ekleme Ekranı</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" class="table table-bordered" name="Header" />
    <br />
    <label>Görsel</label>
    <input type="text" class="table table-bordered" name="NameSurname" />
    <br />
    <label>Ünvanı</label>
    <textarea rows="4" class="table table-bordered" name="Title"></textarea>
    <br />
    <button class="btn btn-info">Öne Çıkanı Kaydet</button>
    <a href="/Future/Index/" class="btn btn-outline-danger">Geri dön</a>
</form>